{% extends "base.html" %}


{% block title %}
About
{% endblock %}


{% block content %}
<h2>About Game Grid</h2>

        <p>
        Welcome to Game Grid, a Sports Tournament Management System. <br>
        Game Grid is designed to make the management of sports tournaments
        simple, organized, and efficient.
        <br>
        
        
        <h2>Objectives</h2>
            1. Create and manage tournaments <br>
            2. Manage teams and players <br>
            3. Schedule matches <br>
            4. Update match results <br>
            5. View points tables <br>
            6. Track tournament progress <br>
        <br>

        <h2>Developed By</h2>
        <p>Industrial Training Project <br>
            Diploma in Computer Engineering <br>
            Team members: <br>
            1.Atharv Sudrik <br>
            2.Aditya Kulkarni <br>
            3.Kiran Nimbalkar <br>
        </p>    
        <br>
{% endblock %}
   